<template>
<div class="hello">
    <div id="content" v-for="item in color" :key="item">
        <div :class=item></div>
    </div>
</div>
</template>

<script lang="ts">
import {
    Component,
    Prop,
    Vue
} from 'vue-property-decorator';

export default class Circles extends Vue {
color=['circle blue','circle green','circle red','circle red4']
}
</script>

<style scoped>

</style>
