<template>
<v-responsive>
<div>
    <br><br><br><br>
    <v-card class="mx-auto" max-width="80%" min-width="80%" min-height="40%">
            <v-card-text>
        <div><br><br>
            <div class="form-group">
                <div class="col-xs-10">
                    <div class="form-inline">
                        <div class="form-group" style="font-size:30px;">
                            <b>Selecting type of<br><br><span style="color: #C43C39;">Output</span></b>
                        </div>
                        <div class="form-group" style="float:right">
                            Didn't get the desired output? <span style="color: #C43C39;"> Refine Inputs </span>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>

            <div>
                <div class="container" style="margin-left:3%">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="dashboardxyz" v-for="item in collection" :key="item.id" v-bind:class="{'selectedClass2': current === item.id}" v-on:click="setCurrent(item.id)">
                                <br> <b> {{item.name}}<br> based rules </b>
                            </div>

                        </div>
                        <div class="col-sm-4" v-if="current==1">
                            <Circles />
                            <router-link to="/Viewresults"><br><br>
                                <b-button variant="outline-danger" style="margin-left:35%">View Results</b-button>
                            </router-link>
                        </div>
                        <div class="col-sm-4" v-if="current==2">
                            <Radialprogressbar2 /><br>
                            <router-link to="/Viewresults">
                                <b-button variant="outline-danger">View Results</b-button>
                            </router-link>
                        </div>
                        <div class="col-sm-4" v-if="current==3">
                            <Radialprogressbar /><br>
                            <router-link to="/Viewresults">
                                <b-button variant="outline-danger">View Results</b-button>
                            </router-link>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <div style="color:red"> <span style="padding-left:0px;color:black">
                                        <img alt="Vue logo" src="../assets/ChartRing.svg" style="height:150px;width:150px">
                                        <br><br><br>
                                        <ul style="margin-left:140px">
                                            <li style="color:#AD0400;text-indent: -62px;"><span style="color:black">Publication Landscaper</span></li>
                                            <li style="color:#F02520;text-indent: -89px;"><span style="color:black">Patent Landscaper</span></li>
                                            <li style="color:#F8706E;text-indent: -62px;"><span style="color:black">Ideation Based Results</span></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

             </v-card-text>

        </v-card>
    </div>
</v-responsive>
</template>

<script lang="ts">
import axios from 'axios'
import {
    Component,
    Vue,
    Prop
} from 'vue-property-decorator';
import Radialprogressbar from './Radialprogressbar.vue';
import Radialprogressbar2 from './Radialprogressbar2.vue';
import Circles from './Circles.vue';

import 'vue-step-progress/dist/main.css';
@Component({
    components: {
        Radialprogressbar,
        Radialprogressbar2,
        Circles

    },
})
export default class Dashboardone extends Vue {

    isActive = false
    current = 2
    collection = [{
            id: 1,
            name: 'IDEATION'
        },
        {
            id: 2,
            name: 'PUBLICATION LANDSCAPER'
        },
        {
            id: 3,
            name: 'PATENT LANDSCAPER'
        },
    ]

    setCurrent(id: any) {
        this.current = id;
    }

}
</script>

<style scoped>


</style>
