<template>
<v-responsive>

    <div>
        <v-card class="mx-auto" max-width="100%" min-width="100%" min-height="100%">
            <v-card-text>

                <div>
                    
                    <b-navbar toggleable="lg" type="dark" class="border-bottom border-secondary">
                        <b-collapse id="nav-collapse" is-nav>
<b-navbar-brand><img alt="Vue logo" src="../assets/logo.png" style="height:50px;padding-left:100px;" ></b-navbar-brand>
                     
                     
                     
 <!-- <div class="nav__end">
      <LocaleSwitcher />
    </div> -->

 <div class="nav__end">
      <languageDropdown />
    </div>
                 
                     
                            <!-- <div class="locale-switcher">🌐 {{$i18n.locale}}</div> -->
                            <!-- Right aligned nav items -->
                            <b-navbar-nav class="ml-auto">
                                <b-nav-form>
                                    <button class="history-btn"><span style="">
                                            <b-icon icon="clock-history" aria-hidden="true" style=""></b-icon>
                                        </span>History </button><span style="font-size:40px;padding-left:20px;padding-right:20px">|</span>
                                    <div style="font-size:16px"><b>Sonali Bakshi</b><br>
                                        <span style="font-size:12px">XLPAT Labs</span>
                                    </div>
                                    <img alt="Vue logo" src="../assets/profile.jpg" style="height:50px;width:50px;border-radius:50%;">
                                    <b-icon icon="chevron-down" class="h3 mb-2" aria-hidden="true"></b-icon>
                                    <!-- <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button> -->
                                </b-nav-form>
                            </b-navbar-nav>
                        </b-collapse>

                    </b-navbar>
                    <center>
                        <!-- <Stepone /> -->
                    </center>
                </div>
            </v-card-text>

        </v-card>
    </div>
</v-responsive>
</template>

<script lang="ts">
import {
    Component,
    Vue
} from 'vue-property-decorator';

// import LocaleSwitcher from "./LocaleSwitcher.vue"
import languageDropdown from "./languageDropdown.vue"

// import i18n from "@/i18n"
// import { ParticlesBg } from "particles-bg-vue";
@Component({
    components: {
        //  Stepone,
        //  ParticlesBg,
        // LocaleSwitcher,
        languageDropdown
    },
})
export default class Header extends Vue {
    name = Header
}
</script>

<style>
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem .5rem;
    margin: 2px;
}

.navbar-dark .navbar-brand {
    color: #b6b3b3;
}

.border-bottom {
    border-bottom: 1px solid rgb(180, 173, 173) !important;
    box-shadow: 4px 10px 18px #888888;
}

.selecting {
    border-bottom: 1px solid rgb(180, 173, 173) !important;
    box-shadow: 4px 8px 18px #888888;
    border-radius: 10px
}

.history-btn {
    border-radius: 10px;
    background-color: whitesmoke;
    border: 0.5px solid #707070;
    margin: 4px;
    width: 155px;
    height: 47px;
}

.qwer {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 35px/53px var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 25px/43px Poppins;
    letter-spacing: 0px;
    color: black

}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* height: 100px; */
    margin-top: 0px !important;
}
</style>
