<template>
<v-responsive>
    <v-card class="mx-auto" max-width="100%" min-width="100%" min-height="100%">
            <v-card-text>
<div >
        <br>
        <div style="font-size:24px;float:left;color:red"><b>Dynamics </b> Based Ideation Map</div>
    <br>    <v-divider></v-divider>
        <div class="container" style="float:left;padding-left:80px">
            <div class="row">
                <div style="margin-right:12px">

                    <b-button variant="outline-secondary">Export</b-button>
                </div>
                <div style="margin-right:12px" v-for="(item) in buttons" :key="item.id">

                    <b-button pill variant="outline-danger">{{item.name}}</b-button>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container" style="float:left;">
        <div class="row">
            <div class="col-sm-6">

                <v-card class="mx-auto" max-width="100%" min-width="100%" min-height="75%">
                    <v-card-text class="text-left">
                        <perfect-scrollbar>
                            <div class="container-name">

                                <div v-for="(item) in statement3" :key="item.id"><br>
                                    <b-form-checkbox style="float:left;padding-left:4%">
                                        <div>
                                            <span style="color:red;float:left !important">
                                                <b>{{item.title}}</b>
                                            </span> <br>
                                            <b>Description</b> {{item.description}}<br>
                                            <b>Date</b> {{item.date}}
                                        </div>
                                    </b-form-checkbox>

                                </div>
                            </div>

                        </perfect-scrollbar>
                    </v-card-text>

                </v-card>

            </div>
            <div style="font-size:20px" class="col-sm-6">
                <v-card class="mx-auto" max-width="100%" min-width="100%" min-height="75%">
                    <center>
                        <v-card-text>
                            <piechart />
                        </v-card-text>
                    </center>
                </v-card>
            </div>
        </div>
    </div>
     </v-card-text>

        </v-card>
</v-responsive>
</template>

<script lang="ts">
import {
    Component,
    Vue
} from 'vue-property-decorator';
import piechart from './piechart.vue';

@Component({
    components: {
        piechart
    },
})
export default class Stepfour extends Vue {
    statement3 = this.$store.getters.viewResults3;
    buttons = [

        {
            id: 2,
            name: "Dynamics"
        },
        {
            id: 3,
            name: "Segment"
        },
        {
            id: 4,
            name: "Sanctional"
        },
        {
            id: 5,
            name: "Divisional"
        },
    ]
}
</script>

<style scoped>
.ps {
    height: 400px;
}
@media (min-width: 1264px){
.container {
    max-width: 100%;
}
}


</style>
