<template>
  <b-dropdown variant="dark" class="header__language-dropdown">
    <template #button-content>
      <country-flag :country="language.locale" size='small'/>
      <span>{{language.appearance}}</span>
    </template>
    <b-dropdown-item v-for="(value, key) in languages" :key="key" @click="setLanguage(key)">{{ value }}</b-dropdown-item>
  </b-dropdown>
</template>


<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import {loadLanguageAsync} from '@/lang/lang'
import languages from '@/lang/i18n/languages.json'
// import CountryFlag from "vue-country-flag";

@Component({
  components: {
    // CountryFlag
  },
})
export default class LanguageDropdown extends Vue {
  get languages() {
    return languages
  }

  get language() {
    //@ts-ignore
    const {appearance, locale} = this.$t('language') ?? {appearance: 'English', locale: 'us'}
    return {appearance, locale}
  }

  async setLanguage(key: string) {
    // TODO add selected language to vuex
    await loadLanguageAsync(key)
    localStorage.setItem('locale', key)
  }

  mounted() {
    if (localStorage.getItem('locale') !== this.$i18n.locale) {
      this.setLanguage(localStorage.getItem('locale') as string ?? 'us')
    }
  }
}
</script>