<template>
  <div class="locale-switcher">
    <select v-model="$i18n.locale">
      <option value="en">English</option>
      <option value="ar">Japanese</option>
    </select>
 
  </div>
</template>