<template>
<div>
    <v-responsive>
        <v-chart class="chart" :option="option" max-width="100%" min-width="100%" min-height="100%" />
    </v-responsive>
</div>
</template>

<script lang="ts">
import {
    use
} from "echarts/core";
import {
    CanvasRenderer
} from "echarts/renderers";
import {
    PieChart
} from "echarts/charts";
import {
    TitleComponent,
    TooltipComponent,
    LegendComponent
} from "echarts/components";
import VChart, {
    THEME_KEY
} from "vue-echarts";

use([
    CanvasRenderer,
    PieChart,
    TitleComponent,
    TooltipComponent,
    LegendComponent
]);

export default {
    name: "HelloWorld",
    components: {
        VChart
    },
    provide: {
        [THEME_KEY]: "light"
    },
    data() {
        return {

            option: {
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b}: {c} ({d}%)'
                },
                legend: {
                    data: ['Personal', 'Subjects', 'Maths', 'Punjabi',]
                },
                series: [{
                        name: 'Personal',
                        type: 'pie',
                        selectedMode: 'single',
                        radius: [0, '38%'],
                        label: {
                            position: 'inner',
                            fontSize: 15,
                        },
                        labelLine: {
                            show: true
                        },
                        data: [{
                                value: 1548,
                                name: 'Sonali'
                            },
                            {
                                value: 775,
                                name: 'Bakshi'
                            },
                            {
                                value: 679,
                                name: 'Punjab',
                                selected: true
                            }
                        ]
                    },
                    {
                        name: 'Subjects',
                        type: 'pie',
                        radius: ['48%', '72%'],
                        labelLine: {
                            length: 30,
                        },
                        // label: {
                        //     formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                        //     backgroundColor: '#F6F8FC',
                        //     borderColor: '#8C8D8E',
                        //     borderWidth: 1,
                        //     borderRadius: 4,

                        //     rich: {
                        //         a: {
                        //             color: '#6E7079',
                        //             lineHeight: 22,
                        //             align: 'center'
                        //         },
                        //         hr: {
                        //             borderColor: '#8C8D8E',
                        //             width: '100%',
                        //             borderWidth: 1,
                        //             height: 0
                        //         },
                        //         b: {
                        //             color: '#4C5058',
                        //             fontSize: 14,
                        //             fontWeight: 'bold',
                        //             lineHeight: 33
                        //         },
                        //         per: {
                        //             color: '#fff',
                        //             backgroundColor: '#4C5058',
                        //             padding: [3, 4],
                        //             borderRadius: 4
                        //         }
                        //     }
                        // },
                        data: [{
                                value: 17,
                                name: 'English'
                            },
                            {
                                value: 43,
                                name: 'Hindi'
                            },
                            {
                                value: 31,
                                name: 'Maths'
                            },
                            {
                                value: 16,
                                name: 'Science'
                            },
                            {
                                value: 24,
                                name: 'Physics'
                            },
                            {
                                value: 17,
                                name: 'Chemistry'
                            },
                            {
                                value: 13,
                                name: 'Biology'
                            },
                            {
                                value: 12,
                                name: 'Punjabi'
                            }
                        ]
                    }
                ]
            }
        };
    }
};
</script>

<style scoped>
.chart {
    height: 400px;
}
</style>
