<template>
<v-responsive>
    <div>
        <v-card class="mx-auto" max-width="100%" min-width="100%" min-height="100%">
            <v-card-text>
                <v-app id="inspire">
                    <v-navigation-drawer app>
                        <div class="resultxyz">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-2"> <br>
                                        <b-icon icon="border-width" font-scale="3"></b-icon>
                                    </div>
                                    <div class="col-sm-10" style="font-size:20px">
                                        <br>
                                        Back to <span style="color:red">home</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="resultxyz" v-for="item in collection" :key="item.id" v-bind:class="{'resultselectedClass2': current === item.id}" v-on:click="setCurrent(item.id)">
                            <br><b> {{item.name}}<br> based rules </b>
                        </div>
                    </v-navigation-drawer>
                    <v-main>

                    </v-main>
                </v-app>
            </v-card-text>

        </v-card>
    </div>
</v-responsive>
</template>

<script lang="ts">
import {
    Component,
    Vue
} from 'vue-property-decorator';
import piechart from './piechart.vue';

@Component({
    components: {
        piechart
    },
})
export default class Stepfour extends Vue {
    statement3 = this.$store.getters.viewResults3;
    buttons = [

        {
            id: 2,
            name: "Dynamics"
        },
        {
            id: 3,
            name: "Segment"
        },
        {
            id: 4,
            name: "Sanctional"
        },
        {
            id: 5,
            name: "Divisional"
        },
    ]
}
</script>

<style scoped>

</style>
