<template>
  <div class="hello">
      <div>
         <div class="container">
            <div class="row">                        
                <div class="col-sm-2" >                               
                                
                    <b-iconstack font-scale="3" style="margin-top:90px">
                    <b-icon stacked icon="chevron-left" shift-h="-4" variant="danger" ></b-icon>
                    </b-iconstack>
                </div>
                <div class="col-sm-8">
                            <radial-progress-bar :diameter="200"
                                            :completed-steps="completedSteps"
                                            :strokeWidth="swidth"
                                            :total-steps="totalSteps"
                                            :startColor="startColor"
                                            :stopColor="endColor"
                                            :innerStrokeColor="isc">
                        <b>{{ completedSteps }} <br> Results </b>
                        </radial-progress-bar>
                            </div>
                            <div class="col-sm-2" >                               
                                
                                <b-iconstack font-scale="3"  style="margin-top:90px">
                                <b-icon stacked icon="chevron-right" shift-h="-4" variant="danger"></b-icon>
                                </b-iconstack>
                            </div>
                        </div>
                    </div>
                </div>

  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

{/* 
// @ts-ignore */}
import RadialProgressBar from 'vue-radial-progress'


@Component({
  components: {
  RadialProgressBar
  },
})
export default class HelloWorld extends Vue {
  
  completedSteps= 62
      totalSteps= 100
      endColor ='#FF9D9B'
      startColor ='#FF0600'
      isc='white'
      swidth=20
   
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
