<template>
<v-responsive>
    <div>
       <br><br>
        <v-card class="mx-auto" max-width="80%" min-width="80%" min-height="10%">
            <v-card-text>
                <div> <br>
                    
                        <div class="col-xs-12">
                            <div class="form-inline">
                                <div class="form-group" style="font-size:20px;color: #C43C39;">
                                    <!-- <b>Problem<br><span style="color: #C43C39;"> Disclosure</span></b> -->
                            <b>{{ $t("Step1.message1") }}</b> 
                                </div>
                                <div class="form-group" >
                                    <step-progress :steps="mySteps" :current-step="currentStep" icon-class="fa fa-check"></step-progress>

                                </div>
                            </div>
                        </div>
                    
                </div><br>
                <div style="text-align:left;padding-left:3%;font-size:14px;">
                    <div style="color:red">&#x2015;&#x2015;<span style="color:black"> {{ $t("Step1.message2") }}</span> </div>
                    <br><br>
                    <div><span style="color:red;font-size:14px"><b>NOTE:</b>{{ $t("Step1.message3") }}</span></div>
                </div>
                <br><br><br>
                <div class="form-group">
                    <div class="col-xs-10">
                        <div class="form-inline">
                            <div class="form-group" style="padding-left:3%;padding-right:3%;">
                                <v-text-field label="Enter title of problem Statement" style="width:20%"></v-text-field>
                            </div>
                            <!-- {{title}} -->
                            <div class="form-group" style="text-align:right">
                                <v-text-field label="Enter detailed discription of your model" style="width:20%;color:red"></v-text-field>
                            </div>
                        </div>
                    </div>

                </div>
                <br><br><br><br><br>
                <router-link to="/Steptwo"><br>
                    <img alt="Vue logo" src="../assets/next.jpg" @click="onClickButton" style="height:50px;padding-left:91%;"></router-link>
            </v-card-text>

        </v-card>
    </div>
</v-responsive>
<!-- </div> -->
</template>

<script lang="ts">
import {
    Component,
    Vue
} from 'vue-property-decorator'; 
    /* 
    // @ts-ignore */
import StepProgress from 'vue-step-progress'; 
    /* 
    // @ts-ignore */

import 'vue-step-progress/dist/main.css';
import axios from 'axios'

@Component({
    components: {
        'step-progress': StepProgress
    },
})
export default class Stepone extends Vue {
    mySteps = ['Step1', 'Step2', 'Step3', 'Step4', 'Step5']
    currentStep = 0
    fullInfo = []
    Arr = [] as any
    keyfeatures = ""
    res = [] as any
    mounted() {
        axios
            .post('https://api-idea-dev.xlscout.ai/novelty/features/', {
                "case_details": '{"title":"Higher power consumption in Pulse Oximeters","cause1":{"mainCause":"High power requirement of light sources like LEDs","subCause1":"As LEDs are driven continuously at high rates","subCause2":"Requirement of high energy pulses","subCause3":"The higher number of light sources are required for better measurement."},"cause2":{"mainCause":"Data re-transmissions","subCause1":"The collisions between the data packets happen due to unsynchronized data transmission","subCause2":"The packet size of data is small, hence more overhead of information"},"cause3":{"mainCause":"Requirement of reconstruction algorithms","subCause1":"Unreliability of the algorithms in case of low signal-to-noise ratio, which might affect the Accuracy","subCause2":"Reconstruction algorithms based on sub-Nyquist sampling are always based on assumptions about the amplitude and frequency content of the signal and noise"},"causeSelected":"1"}',
                "user_id": 3073
            })
            .then(response => {
                this.fullInfo = response.data;
                // console.log(this.fullInfo)

                this.Arr = Object.entries(this.fullInfo);
                this.keyfeatures = this.Arr[1][1].kfs
                //  console.log(this.keyfeatures)
                this.res = this.keyfeatures.split("XlpatKeyFertures");
                // console.log(this.res)

            })
    }
    onClickButton() {
        this.$emit('clicked', this.res)
    }

}
</script>

<style scoped>
@media (min-width: 576px){
.form-inline .form-group {
    display: flex;
  flex: 0.5 0 auto;
  
}
}
/* @import url(../assets/Style.css); */
</style>
