<template>
<div >
      <br><br><br><br>
<div class="selecting"  :style="{'background-image': 'url(' + require('../assets/white.jpg') + ')'}">
  
  <div > 


<div class="form-group">
    <div class="col-xs-10">
        <div class="form-inline">
            <div class="form-group" style="text-align:left;padding-left:40px;font-size:20px;padding-top:20px">
             <b>Problem<br><span style="color: #C43C39;"> Disclosure</span></b>
            </div>
            <div class="form-group" style="width:850px;padding-left:320px; margin: -114px; margin-left:100px;margin-top:-62px">
  <step-progress :steps="mySteps" :current-step="currentStep" icon-class="fa fa-check"></step-progress>
               
            </div>
        </div>
    </div>
</div>
</div>
<div style="text-align:left;padding-left:40px;font-size:14px;" >
  <div style="color:red"><span style="padding-left:34px;color:black"></span> </div>
<!-- <br><br> -->
</div>
<!-- <br><br><br> -->
<br>
<div class="container">
  
 <div class="row">
  <div class="col-md-12">
     <div class="feature-box" style="
     width:20%;float:left;padding-right:20px" >
<b-form-input placeholder="Enter  Cause 1"></b-form-input>
    </div>
    <div class="feature-box" style="
     width:20%;float:left;margin-left: 50px;
    margin-right: 72px;">
    <b-form-input  placeholder="Enter Cause 2"></b-form-input>
    </div>
     <div class="feature-box" style="
     width:20%;float:left">
    <b-form-input placeholder="Enter Cause 3"></b-form-input>
    </div>

  </div>
</div>
  
<div class="row">
  <div class="col-md-12">
      <div class="row" >
     <!-- style="margin-right:-10% !important; margin-left:17% !important;" -->
<div class="form-group">
    <div class="col-xs-10">
        <div class="form-inline">
            <div class="form-group" style="    padding-left: 129px;padding-right: -34px;margin-top: -11px;">
               <svg>
                   <line x1="0" y1="0" x2="120" y2="120" style="stroke:rgb(255,0,0);stroke-width:2" />
                </svg>
            </div>
                        
              <div class="form-group" style="padding-left:0px;padding-right:0px;margin-top: -4px;">
               <svg>
                  <line x1="0" y1="0" x2="120" y2="120" style="stroke:rgb(255,0,0);stroke-width:2" />
               </svg>
             </div>

               <div class="form-group" style="text-align:right;margin-top: -8px;">
                  <svg>
                    <line x1="0" y1="0" x2="122" y2="122" style="stroke:rgb(255,0,0); stroke-width:2" />
                 </svg>
             </div>
        </div>
    </div>
</div>  
    </div>



     <div class="mytextdiv">
      <div class="divider"></div>
      <div class="mytexttitle">
        <div style="width:80%;float:right">
            <b-form-input placeholder="Enter problem Statement" ></b-form-input>
        </div>
      </div>
    </div>
        <div class="form-inline">
            <div class="form-group" style="    padding-left: 115px;padding-right: -34px;margin-top: -11px;">
                    <svg>
                     <line x1="0 " y1="120 " x2="120 " y2="0 " style="stroke:rgb(255,0,0);stroke-width:2 " />
                     </svg>  
            </div>
                        
              <div class="form-group" style="padding-left:0px;padding-right:0px;margin-top: -13px;  margin-right: 0px;">
                     <svg>
                       <line x1="0 " y1="120 " x2="120 " y2="0 " style="stroke:rgb(255,0,0);stroke-width:2 " />
                     </svg>  
             </div>

               <div class="form-group" style="text-align:right;margin-top: -15px;">
                       <svg>
                        <line x1="0 " y1="120 " x2="120 " y2="0 " style="stroke:rgb(255,0,0);stroke-width:2 " />
                     </svg>  
               </div>
       </div>
   </div>
</div>  
  
<div class="row">
  <div class="col-md-12">
    
      <div class="feature-box-bottom"  style="
     width:20%;float:left;margin-top: -56px;margin-left: 5px;" >
      <b-form-input placeholder="Enter Sub Cause 1"></b-form-input>

      </div>
      <div class="feature-box-bottom "  style="
     width:20%;float:left;padding-right:20px;    margin-top: -56px;
    margin-left: 85px;" >
            <b-form-input placeholder="Enter Sub Cause 2"></b-form-input>

      </div>
      <div class="feature-box-bottom "  style="
     width:20%;float:left;padding-right:20px;margin-top: -56px;
    margin-left: 62px;" >
            <b-form-input placeholder="Enter Sub Cause 3"></b-form-input>
      </div>
    </div>
  </div>
</div>  


<router-link to="/Dashboardone">
<img alt="Vue logo" src="../assets/next.jpg" style="height:50px;align:right;padding-left:91%;" ></router-link>
</div>

</div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
{/* 
// @ts-ignore */}
import StepProgress from 'vue-step-progress';
{/* 
// @ts-ignore */}
import 'vue-step-progress/dist/main.css';
@Component({
  components: {
    'step-progress': StepProgress
  },
})
export default class Stepone extends Vue {
  mySteps =['Step1','Step2','Step3','Step4','Step5']
  currentStep=0

}
</script>
<style>
p { font-family: Arial; letter-spacing: -2px;}
p span { letter-spacing: 2px; margin: 0 5px; }
element.style {
    background-color: gray;
    height: 3px;
}
/* input {
  border:none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
} */
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }
 .selecting{
   height:540px;
   width:1200px; 
 }
 .fa fa-check{
   font-size: 12px;
  height: 2px;
 }
.step-progress__wrapper-before{
  height:2px !important;
      top: 35% !important;
}
.step-progress__wrapper-after{
   height:2px !important;
      top: 35% !important;
}
 .step-progress__step:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) perspective(1000px);
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    border: var(--passiveBorder) solid var(--passiveColor);
    transition: .3s ease;
    }
    .step-progress__step span {
    color: var(--passiveColor);
    transition: .3s ease;
    display: block;
    font-size: 15px;
    transform: translateZ(0) scale(1) perspective(1000px);
    font-weight: 900;
    text-align: center;
    opacity: 1;
}
.step-progress__step step-progress__step--valid{
  --activeColor:red;
  --passiveColor: #352f2f;
  --activeBorder: 3px !important;
  --passiveBorder: 3px !important; 
}
.feature-box {
    /* background-color: rgba(255, 255, 255, 0.8); */
    font-family: Arial;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem;
    text-align: -webkit-auto;
    border-radius: 30px;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(241, 50, 50, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(230, 43, 43, 0.15);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    width: 33%;
    /* of wrapper width */
    vertical-align: bottom;
    transition: transform .3s, -webkit-transform .3s
}
.form-group {
    margin-bottom: -2rem;
}
hr {
    border: 5px solid black;
    border-radius: 5px;
    width: 77%;
    margin-left: 9px;
}
.feature-box-bottom {
    /* background-color: rgba(255, 255, 255, 0.8); */
    font-family: Arial;
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgb(245, 242, 242)));
    font-size: 1rem;
    padding: 1rem;
    text-align: -webkit-auto;
    border-radius: 30px;
   -webkit-box-shadow: 0 0.5rem 1rem rgba(241, 50, 50, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(230, 43, 43, 0.15);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    width: 33%;
    /* of wrapper width */
    vertical-align: text-top;
    transition: transform .3s, -webkit-transform .3s
}



.arrow_box {
    font-family: Arial;
    text-align: ceter;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

}

.arrow_box:after,
.arrow_box:before {
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
}
.mytextdiv{
  display:flex;
  flex-direction:row;
   align-items: center;
}
.mytexttitle{
  flex-grow:0;
}

.divider{
  flex-grow:1;
  height: 5px;
  background-color: black;
      margin-right: -45px;
  /* width: 10px */
}
*{
  margin: -1px
}

</style>