<template>
<v-responsive>
<div>
     <br><br>
        <v-card class="mx-auto" max-width="80%" min-width="80%" min-height="10%">
            <v-card-text>
        <br><br><br>
        <div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="form-inline">
                        <div class="form-group" style="font-size:20px;">
                            <b><span style="color: #C43C39;">{{ $t("Step3.message1") }}</span></b>
                        </div>
                        <div class="form-group" >
                            <step-progress :steps="mySteps" :current-step="currentStep" icon-class="fa fa-check"></step-progress>

                        </div>
                    </div>
                </div>
            </div>
        </div>
<br>
        <div class="form-group">
            <div class="col-xs-12">
                <div class="form-inline" >
                    <div class="form-group" style="font-size:14px;">
                        <div style="color:red">&#x2015;&#x2015;<span style="color:black"> {{ $t("Step3.message2") }} </span></div>
                    </div>
                    <v-text-field style="padding-left:19%;margin:2%" v-model="addData"></v-text-field>
                    <div v-if="addData==''">
                        <v-btn depressed color="error" @click="checkdata()"> {{ $t("Step5.message8") }} </v-btn>
                    </div>
                    <div v-else>
                        <v-btn depressed color="error" @click="additionOfData()"> {{ $t("Step5.message8") }} </v-btn>
                    </div>

                </div>
            </div>
        </div>
        <br><br>
        <br>

        <perfect-scrollbar>
            <div class="container-name">
                <div class="xyz" v-for="(item,key) in statement" :key="item.id" :class="{ selectedClass : item.isActive }">

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2">

                                <button @click="$set(item, 'isActive', !item.isActive);toggleElement(key)" style="float-left">
                                    <!-- {{item.isActive}} -->
                                    <b-col cols="1">
                                        <!-- {{item.selected}} -->
                                        <b-icon icon="star-fill" class="h4 mb-0"></b-icon>
                                    </b-col>
                                </button>

                            </div>
                            <div class="col-sm-6" v-if="item.edit">
                                <input class="form-control" type="text" v-model="item.title" @blur="item.edit=false" @keyup.enter="item.edit=false">
                            </div>
                            <div class="col-sm-6" v-else>

                                <span style="text-align:left" v-if="item.title.length<8"> {{item.title}}</span>

                                <span style="text-align:left" v-if="item.title.length>=8"> {{Name[key].substring(0,25)+".." }}</span>
                            </div>
                            <div class="col-sm-4">
                                <b-icon icon="pencil" class="h4 mb-2" id=this.id1+1 style="padding-right:4px" @click="editing(key)"></b-icon>
                                <b-icon icon="trash" class="h4 mb-2" @click="remove(key)"></b-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar><br><br>
        <div class="form-group">
            <div class="">
                <div class="form-inline">
                    <div class="form-group">
                        <router-link to="/steptwo">
                            <img alt="Vue logo" src="../assets/previous.jpg" style="height:50px;"></router-link>
                    </div>
                    <div class="form-group" style="width:150px;padding-left:86%;">
                        <router-link to="/stepfour">
                            <img alt="Vue logo" src="../assets/next.jpg" style="height:50px;align:right;">
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

            </v-card-text>

        </v-card>
    </div>
</v-responsive>
</template>

<script lang="ts">
import {
    Component,
    Vue,
    Prop
} from 'vue-property-decorator'; 

/* 
    // @ts-ignore */
import StepProgress from 'vue-step-progress';
import 'vue-step-progress/dist/main.css';

@Component({
    components: {
        'step-progress': StepProgress
    },
})
export default class Stepthree extends Vue {

    mySteps = ['Step1', 'Step2', 'Step3', 'Step4', 'Step5']
    // items = ['Weight of moving object', 'Weight of stationary object', 'Length of moving object', 'Length of stationary object']
    items = this.$store.getters.allStatement;

    stepThreeData = 0;
    currentStep = 2;
    addData = "";
    selectData = false;
    numberSelected = 0;
    statement = this.$store.getters.allStatement;

    @Prop() Name!: any
    mounted() {
        for (let i = 0; i < this.Name.length; i++) {
            this.statement.unshift({
                id: i + 1,
                title: this.Name[i],
                active: true,
                edit: false
            });

        }
        console.log(this.statement)

    }
    public remove(index: any) {
        this.statement.splice(index, 1);
        console.log(this.statement)
    }

    public additionOfData() {
        console.log(this.addData)
        this.statement.unshift({
            title: this.addData,
            active: true,
            edit: false
        });
        this.addData = ""
        console.log(this.statement)
    }

    checkdata() {
        window.alert("Enter some data")
    }
    public editing(key: any) {
        this.statement[key]["edit"] = !this.statement[key]["edit"];
        console.log(this.statement[key])
    }
    toggleElement(e: any) {
        this.items[e]['selected'] = !this.items[e]['selected'];
        console.log(this.items[e]['selected'])
        if (this.items[e]['selected'] == true) {

            if (this.stepThreeData == 3) {
                alert("Maximum 3 selections are allowed");
                this.items[e]['isActive'] = !this.items[e]['isActive'];
                this.items[e]['selected'] = !this.items[e]['selected'];
            } else {
                this.stepThreeData++;
                console.log(this.stepThreeData)

            }
        } else {
            this.stepThreeData--;
            console.log(this.stepThreeData)

        }
        //    console.log(this.stepThreeData)
    }
}
</script>

<style>
/* @import url(../assets/Style.css); */
.ps {
    height: 230px;
}

</style>
