<template>
<v-responsive>
    <div>
        <br><br>
        <v-card class="mx-auto" max-width="80%" min-width="80%" min-height="10%">
            <v-card-text>
                <!-- <div class="selecting"  :style="{'background-image': 'url(' + require('../assets/white.jpg') + ')'}"> -->
                <br>
                <div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-inline">
                                <div class="form-group" style="font-size:20px">
                                    <b><br><span style="color: #C43C39;">{{ $t("Step2.message1") }}</span></b>
                                </div>
                                <div class="form-group">
                                    <step-progress :steps="mySteps" :current-step="currentStep" icon-class="fa fa-check"></step-progress>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><br><br><br><br>
                <div style="text-align:left;padding-left:3%;font-size:14px;">
                    <div style="color:red">&#x2015;&#x2015;<span style="color:black"> </span> <span style="padding-left:34px;color:black">{{ $t("Step2.message2") }}</span> </div>
                    <br>
                    <div><span style="color:red;font-size:14px"><b>
                                <b-icon icon="question-circle" style="width: 30px; height: 30px;padding-right:10px;padding-top: 15px;"></b-icon>
                            </b></span>{{ $t("Step2.message3") }}<span style="color:red"><b>View Help Guide</b></span></div>
                </div>
                <br><br><br>
                <div class="form-group">
                    <div class="col-xs-10">
                        <div class="form-inline">
                            <div class="form-group" style="padding-left:50px;width:50%">
                                <span style="font-size:20px;padding-left:15px"><b>{{ $t("Step2.message4") }}</b></span>
                                <v-col class="d-flex" cols="12" sm="10">
                                    <v-select :items="items" item-text="title" item-value="key" menu-props="auto" label="Parameter to improve" outlined @change="submit($event)" return-object></v-select>

                                </v-col>

                            </div>
                            <div class="form-group" style="width:40%">
                                <span style="font-size:20px;padding-left:15px"><b>{{ $t("Step2.message5") }}</b></span>
                                <v-col class="d-flex" cols="12" sm="24">
                                    <v-select :items="itemsData" item-text="title" item-value="key" menu-props="auto" label="Parameter to preserve" outlined return-object></v-select>
                                </v-col>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br><br>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-inline">
                            <div class="form-group">
                                <router-link to="/">
                                    <img alt="Vue logo" src="../assets/previous.jpg" style="height:50px;align:right;padding-right:92%;"></router-link>
                            </div>
                            <div class="form-group" style="width:150px;padding-left:86%">
                                <router-link to="/Stepthree">
                                    <img alt="Vue logo" src="../assets/next.jpg" style="height:50px;align:right;"></router-link>

                            </div>
                        </div>
                    </div>
                </div>

            </v-card-text>

        </v-card>

    </div>

</v-responsive>
</template>

<script lang="ts">
import axios from 'axios'
import {
    Component,
    Vue,
    Prop
} from 'vue-property-decorator'; 
    /* 
    // @ts-ignore */

import StepProgress from 'vue-step-progress';
import 'vue-step-progress/dist/main.css';
@Component({
    components: {
        'step-progress': StepProgress
    },
})
export default class Steptwo extends Vue {
    mySteps = ['Step1', 'Step2', 'Step3', 'Step4', 'Step5']
    items = [{
            title: 'Weight of Moving Object',
            key: 1
        },
        {
            title: 'Weight of Stationary Object',
            key: 2
        },
        {
            title: 'Length of Moving Object',
            key: 3
        },
        {
            title: 'Length of Stationary Object',
            key: 4
        },
        {
            title: 'Area of Moving Object',
            key: 5
        },
        {
            title: 'Area of Moving Object',
            key: 6
        },
        {
            title: 'Volume of Moving Object',
            key: 7
        },
        {
            title: 'Volume of Stationary Object',
            key: 8
        },
        {
            title: 'Speed',
            key: 9
        },
        {
            title: 'Force',
            key: 10
        }
    ];
    currentStep = 1
    title = ""
    fullInfo = []
    Arr = [] as any;
    itemsData = [{
        title: '',
        key: 0
    }];
    submit(event: any) {
        console.log(event)
        this.onchange(event.key);
    }

    onchange(key: any) {
        console.log(key)
        axios.post("https://api-idea-dev.xlscout.ai/triz/features/", {
                'feature_id': key
            })
            .then(response => {
                this.fullInfo = response.data.data;
                this.Arr = Object.entries(this.fullInfo);
                for (const [key, value] of this.Arr) {
                    this.itemsData.push({
                        title: String(value),
                        key: parseInt(key)
                    });
                }
                console.log(this.itemsData)
            })
    }

}
</script>

<style>
@media (min-width: 576px) {
    .form-inline .form-group {
        display: flex;
        flex: 0.5 0 auto;

    }
}

* {
    margin: 0px
}
</style>
