<template>
<v-responsive>
    <div>
        <br><br>
        <v-card class="mx-auto" max-width="80%" min-width="80%" min-height="10%">
            <v-card-text>
                <br><br>
                <div>
                    <div class="form-group">
                        <div class="col-xs-10">
                            <div class="form-inline">
                                <div class="form-group" style="font-size:20px">
                                    <b><span style="color: #C43C39;">{{ $t("Step4.message1") }}</span></b>
                                </div>
                                <div class="form-group">
                                    <step-progress :steps="mySteps" :current-step="currentStep" icon-class="fa fa-check"></step-progress>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div>

                    <div class="container">
                        <div class="row">

                            <div class="col-sm-6">

                                <span style="font-size:12px;"><b>
                                        <b-icon icon="info-circle" aria-hidden="true" style="padding-right:3px;padding-top:6px" class="h4 mb-1" variant="danger"></b-icon>{{ $t("Step4.message2") }}
                                    </b></span>
                            </div>
                            <div class="col-sm-6">
                                <div style="font-size:14px;">
                                    <div style="color:red">&#x2015;&#x2015; <b></b> <span style="color:black">{{ $t("Step4.message3") }}</span> </div>

                                    <div><span style="color:red;font-size:14px"><b>Note : </b></span><b>{{ $t("Step4.message4") }}</b></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-inline">

                            <div class="form-group" style="margin-left:2%px;width:50%;">

                                <perfect-scrollbar>
                                    <div class="container-name">
                                        <div class="xyzfour" v-for="(item,key) in statement2" :key="item.id" :class="{ selectedClassfour : item.isActive }">

                                            <div class="container" @click="$set(item, 'isActive', !item.isActive);toggleElement(key)">
                                                <div class="row">

                                                    <div class="col-sm-12">
                                                        <center><span> {{item.title}}</span> </center>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </perfect-scrollbar>
                                <div style="margin-left:50%">
                                    <b-iconstack font-scale="3" rotate="90" @click="loadMore()">
                                        <b-icon stacked icon="chevron-right" shift-h="-4" variant="danger"></b-icon>
                                        <b-icon stacked icon="chevron-right" shift-h="0" variant="danger"></b-icon>
                                        <!-- <b-icon stacked icon="chevron-right" shift-h="4" variant="primary"></b-icon> -->
                                    </b-iconstack>
                                </div>

                            </div>
                            <div class="form-group" style="width:40%">

                                <perfect-scrollbar>
                                    <div class="container-name">

                                        <div v-for="(item) in statement3" :key="item.id" >
                                            <b-form-checkbox>{{item.title}} <br></b-form-checkbox>

                                        </div>
                                    </div>

                                </perfect-scrollbar>
                                <div style="margin-left:50%">
                                    <b-iconstack font-scale="3" rotate="90" @click="loadMoreRight()">
                                        <b-icon stacked icon="chevron-right" shift-h="-4" variant="danger"></b-icon>
                                        <b-icon stacked icon="chevron-right" shift-h="0" variant="danger"></b-icon>
                                        <!-- <b-icon stacked icon="chevron-right" shift-h="4" variant="primary"></b-icon> -->
                                    </b-iconstack>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br><br><br><br><br><br><br>
                <div class="form-group">
                    <div class="col-xs-10">
                        <div class="form-inline">
                            <div class="form-group" style="font-size:20px">
                                <router-link to="/Stepthree">
                                    <img alt="Vue logo" src="../assets/previous.jpg" style="height:50px;align:right;padding-right:92%;"></router-link>
                            </div>
                            <div class="form-group" style="width:150px;padding-left:86%">
                                <router-link to="/Stepfive">
                                    <img alt="Vue logo" src="../assets/next.jpg" style="height:50px;align:right;">
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>

            </v-card-text>

        </v-card>
    </div>
</v-responsive>
</template>

<script lang="ts">
import {
    Component,
    Vue
} from 'vue-property-decorator';
/* 
// @ts-ignore */

import StepProgress from 'vue-step-progress';
import 'vue-step-progress/dist/main.css';
import axios from 'axios'
@Component({
    components: {
        'step-progress': StepProgress
    },
})
export default class Stepfour extends Vue {
    mySteps = ['Step1', 'Step2', 'Step3', 'Step4', 'Step5']
    tempr = 0
    temp2r = 0
    abcr = 0
    currentStep = 3
    statement2 = this.$store.getters.allStatement2;
    statement3 = this.$store.getters.allStatement3;
    stepFourData = 0;
    temp = 0
    temp2 = 0
    abc = 0

    Arr = [] as any
    Arr2 = [] as any
    fullInfo = []
    toggleElement(e: any) {
        this.statement2[e]['selected'] = !this.statement2[e]['selected'];
        if (this.statement2[e]['selected'] == true) {
            if (this.stepFourData == 4) {
                alert("Maximum 4 selections are allowed");
                this.statement2[e]['isActive'] = !this.statement2[e]['isActive'];
                this.statement2[e]['selected'] = !this.statement2[e]['selected'];

            } else {
                this.stepFourData++;
            }
        } else {
            this.stepFourData--;
        }
    }
    loadMoreRight() {
        this.tempr = this.count1 + 1
        this.temp2r = this.Arr2.length - this.tempr
        // console.log('arrlength -count'+this.temp2)
        if (this.temp2r < 6) {
            this.abcr = this.temp2r
        } else {
            this.abcr = 6
        }
        for (let i = this.tempr; i < this.tempr + this.abcr; i++) {
            this.statement3.push({
                id: i + 1,
                title: this.Arr2[i][1].text,

            });
            this.count = i
        }

    }

    count = 0
    count1 = 0
    async mounted() {
        axios
            .get('https://api-idea-dev.xlscout.ai/technology/')
            .then(response => {
                this.fullInfo = response.data;
                this.Arr = Object.entries(this.fullInfo);
                console.log(this.Arr)
                for (let i = 0; i < 6; i++) {
                    this.statement2.unshift({
                        id: this.Arr[i][1].id,
                        title: this.Arr[i][1].name,
                        isActive: false
                    });
                    this.count = i
                }
                //  console.log(this.statement2)
                //             console.log(this.count)

            })

        axios
            .post('https://api-idea-dev.xlscout.ai/novelty/cpc/inventions/', {
                cpc: '[{"text":"Reducing energy consumption in communication networks","class":"Y02D30/00","flag":0},{"text":"Details not covered by groups ; – ; and","class":"G06F1/00","flag":0},{"text":"Accessories therefor","class":"B65F1/00","flag":0},{"text":"Technologies for solid waste management","class":"Y02W30/00","flag":0},{"text":"Circuit arrangements for charging or depolarising batteries or for supplying loads from batteries","class":"H02J7/00","flag":0},{"text":"Adapting or protecting infrastructure or their operation","class":"Y02A30/00","flag":0},{"text":"Miscellaneous advertising or display means not provided for elsewhere","class":"G09F19/00","flag":0},{"text":"Energy generation through renewable energy sources","class":"Y02E10/00","flag":0},{"class":"G06Q10/00","text":"Administration; Management; ","flag":0}]',
                'log_id': '6038a7e30a93713cbe62bc7a',
                keyword: 'bXVuaXNo',
                index: 1
            })
            .then(response => {
                this.fullInfo = response.data.data;
                this.Arr2 = Object.entries(this.fullInfo);
                //   console.log(this.Arr2)
                for (let i = 0; i < 6; i++) {
                    this.statement3.push({
                        id: i + 1,
                        title: this.Arr2[i][1].text,

                    });
                    this.count1 = i
                }
                console.log(this.statement3)
                console.log(this.count1)

            })
    }

    loadMore() {
        this.temp = this.count + 1
        this.temp2 = this.Arr.length - this.temp
        // console.log('arrlength -count'+this.temp2)
        if (this.temp2 < 6) {
            this.abc = this.temp2
        } else {
            this.abc = 6
        }
        for (let i = this.temp; i < this.temp + this.abc; i++) {
            this.statement2.push({
                id: this.Arr[i][1].id,
                title: this.Arr[i][1].name,
                isActive: false
            });
            this.count = i
        }
        //   console.log(this.statement2)

    }

}
</script>

<style>
@import url(../assets/Style.css);

.ps {
    height: 200px;
}

* {
    margin: 0px
}
</style>
