<template>
<v-responsive>

    <div>
        <br><br><br><br>
        <v-card class="mx-auto" max-width="80%" min-width="80%" min-height="40%">
            <v-card-text>

                <div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-inline">
                                <div class="form-group" style="font-size:20px;">
                                    <b>{{ $t("Step5.message1") }}<br><span style="color: #C43C39;">{{ $t("Step5.message2") }}</span></b>
                                </div>
                                <div class="form-group">
                                    <step-progress :steps="mySteps" :current-step="currentStep" icon-class="fa fa-check"></step-progress>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="font-size:14px;float:left">
                        <div>
                            &#x2015;&#x2015;{{ $t("Step5.message3") }}
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="container" style="float:left">
                            <div class="row">
                                <div class="col-sm-2">
                                    <span style="font-size:20px;"><b>{{ $t("Step5.message2") }}.</b></span>
                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size:14px">{{ $t("Step5.message4") }}</span>
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        <span style="font-size:20px"><b>{{ $t("Step5.message5") }}</b></span><br>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br><br><br><br><br>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-inline">
                            <div class="form-group" style="margin-left:2%;width:50%;">
                                <perfect-scrollbar>
                                    <div class="container-name">
                                        <div class="xyzfive" v-for="(item) in statement5" :key="item.id" :class="{ selectedClass : item.isActive }">
                                            <div class="container" @click="$set(item, 'isActive', !item.isActive);">
                                                <div class="row">
                                                    <div class="col-sm-12" style="    margin-top: -1%;">
                                                        <center>

                                                            <!--                                                  
                                               <span style="text-align:left" v-if="item.title.length<8">   {{item.title}}</span>
                              
                                <span style="text-align:left" v-if="item.title.length>=8"> {{item.title.substring(0,14)+".." }}</span>   
                                                  -->

                                                            <span> {{item.title}}</span>

                                                        </center>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </perfect-scrollbar>
                            </div>
                            <div class="form-group" style="width:40%;margin-top:0px">
                                <perfect-scrollbar>
                                    <div class="container-name">
                                        <div class="xyz2five" v-for="(item) in statement6" :key="item.id" :class="{ selectedClass : item.isActive }">
                                            <div class="container" style="margin-top:0px" @click="$set(item, 'isActive', !item.isActive);">
                                                <div class="row">
                                                    <div class="col-sm-12" style="    margin-top: -17px;">
                                                        <center><span> {{item.title}}</span> </center>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </perfect-scrollbar>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 30px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <span style="font-size:16px;padding-left:15px;float:left;color:#C43C39 ;margin:0;font-style:Poppins"> <b>{{ $t("Step5.message6") }}</b></span><br>
                                <div class="container" style="margin-top:-12px">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <v-text-field style="padding-left:0px;margin:0px;width:100%" v-model="addData"></v-text-field>
                                        </div>
                                        <div class="col-sm-2">
                                            <div v-if="addData==''">
                                                <v-btn depressed color="error" @click="checkdata()">
                                                   {{ $t("Step5.message8") }}
                                                </v-btn>
                                            </div>
                                            <div v-else>
                                                <v-btn depressed color="error" @click="additionOfData()"> {{ $t("Step5.message8") }} </v-btn>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div style="text-align:left;padding-left:40px;font-size:14px;">
                                    <div style="color:#C43C39;font-style:Poppins;font-size:16px"><b> {{ $t("Step5.message7") }}</b>
                                    </div>
                                    <div class="container" style="margin-top:-12px">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <v-text-field v-model="addData2" style="padding-left:0px;margin:0px;width:100%"></v-text-field>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="col-sm-2">
                                                    <div v-if="addData2==''">
                                                        <v-btn depressed color="error" @click="checkdata()"> {{ $t("Step5.message8") }}</v-btn>
                                                    </div>
                                                    <div v-else>
                                                        <v-btn depressed color="error" @click="additionOfData2()"> {{ $t("Step5.message8") }}</v-btn>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-10">
                        <div class="form-inline" style="margin-top: -66px;">
                            <div class="form-group" style="text-align:left;padding-left:40px;font-size:20px;padding-top:20px">
                                <router-link to="/Stepfour">
                                    <div>
                                        <img alt="Vue logo" src="../assets/previous.jpg" style="height:50px;align:right;padding-right:92%;">
                                    </div>

                                </router-link>
                            </div>
                            <div class="form-group" style="width:150px;padding-left:86%;margin-top: 22px">
                                <router-link to="/Dashboardone">
                                    <img alt="Vue logo" src="../assets/next.jpg" style="height:50px;align:right;">
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </v-card-text>

        </v-card>
    </div>
</v-responsive>
</template>

<script lang="ts">
import {
    Component,
    Vue
} from 'vue-property-decorator'; 
    /* 
    // @ts-ignore */

import StepProgress from 'vue-step-progress';
import 'vue-step-progress/dist/main.css';
import axios from 'axios'
@Component({
    components: {
        'step-progress': StepProgress
    },
})
export default class Stepfive extends Vue {
    mySteps = ['Step1', 'Step2', 'Step3', 'Step4', 'Step5']
    addData = ""
    addData2 = ""
    currentStep = 4
    statement5 = this.$store.getters.allStatement5
    statement6 = this.$store.getters.allStatement6
    public additionOfData() {
        // console.log(this.addData)
        this.statement5.unshift({
            title: this.addData,
            active: true,
        });
        this.addData = ""
        console.log(this.statement5)
    }

    checkdata() {
        window.alert("Enter some data")
    }
    public additionOfData2() {
        // console.log(this.addData)
        this.statement6.unshift({
            title: this.addData2,
            active: true,
        });
        this.addData2 = ""
        console.log(this.statement5)
    }

    Arr = [] as any
    Arr2 = [] as any
    fullInfo = []
    fullInfo2 = []
    mounted() {
        axios
            .post('https://api-idea-dev.xlscout.ai/novelty/concepts/', {
                'cpc_invention': '[{"text":"Apparatus for radiation diagnosis, e.g. combined with radiation therapy equipment","class":"A61B6/00","flag":0},{"class":"A61B5/00","text":"Measuring for diagnostic purposes; Identification of persons; ","flag":0},{"text":"Indexing scheme for image analysis or image enhancement","class":"G06T2207/00","flag":0},{"text":"Power management, e.g. TPC [Transmission Power Control], power saving or power classes","class":"H04W52/00","flag":0},{"class":"A61B2560/00","text":"Constructional details of operational features of apparatus; Accessories for medical measuring apparatus; ","flag":0},{"text":"2D [Two Dimensional] image generation","class":"G06T11/00","flag":0},{"text":"Light-generating elements of semiconductor light sources","class":"F21Y2115/00","flag":0},{"class":"F21V29/00","text":"Protecting lighting devices from thermal damage; Cooling or heating arrangements specially adapted for lighting devices or systems; ","flag":0},{"text":"Light sources using semiconductor devices as light-generating elements, e.g. using light-emitting diodes [LED] or lasers","class":"F21K9/00","flag":0},{"text":"Arrangement of electric circuit elements in or on lighting devices","class":"F21V23/00","flag":0},{"class":"G02F1/00","text":"Devices or arrangements for the control of the intensity, colour, phase, polarisation or direction of light arriving from an independent light source, e.g. switching, gating or modulating; Non-linear optics; ","flag":0},{"class":"F21V3/00","text":"Globes; Bowls; Cover glasses; ","flag":0}]',
                'log_id': '6038a7e30a93713cbe62bc7a',
                keyword: 'bXVuaXNo',
                'cpc_domain': '[{"text":"Reducing energy consumption in communication networks","class":"Y02D30/00","flag":0},{"text":"Details not covered by groups ; – ; and","class":"G06F1/00","flag":0},{"text":"Accessories therefor","class":"B65F1/00","flag":0},{"text":"Technologies for solid waste management","class":"Y02W30/00","flag":0},{"text":"Circuit arrangements for charging or depolarising batteries or for supplying loads from batteries","class":"H02J7/00","flag":0},{"text":"Adapting or protecting infrastructure or their operation","class":"Y02A30/00","flag":0},{"text":"Miscellaneous advertising or display means not provided for elsewhere","class":"G09F19/00","flag":0},{"text":"Energy generation through renewable energy sources","class":"Y02E10/00","flag":0},{"class":"G06Q10/00","text":"Administration; Management; ","flag":0}]'
            })
            .then(response => {
                this.fullInfo = response.data.data;
                this.Arr = Object.entries(this.fullInfo);
                console.log(this.Arr)
                for (let i = 0; i < this.Arr[0][1].length; i++) {
                    this.statement5.unshift({
                        id: i,
                        title: this.Arr[0][1][i].display,
                        active: true,
                    });

                }
                console.log(this.statement5)

            })

        axios
            .post('https://api-idea-dev.xlscout.ai/novelty/synonyms/', {
                word: 'travel',
                display: 'travel',
                'user_email': 'anoop.kumar@xlpat.com'
            })
            .then(response => {
                this.fullInfo2 = response.data.data;
                this.Arr2 = Object.entries(this.fullInfo2);
                console.log(this.Arr2)
                for (let i = 0; i < this.Arr2.length; i++) {
                    this.statement6.unshift({
                        id: i,
                        title: this.Arr2[i][1].display,
                        active: true,
                    });

                }
                console.log(this.statement6)
            })
    }
}
</script>

<style scoped>
@import url(../assets/Style.css);

.ps {
    height: 150px;
}

* {
    margin: 0px;
}
</style>
