<template>
<v-responsive>
    <div>
        <v-card class="mx-auto" max-width="100%" min-width="100%" min-height="100%">
            <v-card-text>
                <v-app id="inspire">
                    <v-navigation-drawer app>
                        <div class="resultxyz">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-2"> <br>
                                        <b-icon icon="border-width" font-scale="3"></b-icon>
                                    </div>
                                    <div class="col-sm-10" style="font-size:20px">
                                        <br>
                                        Back to <span style="color:red">home</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="resultxyz" v-for="item in collection" :key="item.id" v-bind:class="{'resultselectedClass2': current === item.id}" v-on:click="setCurrent(item.id)">
                            <br><b> {{item.name}}<br> based rules </b>
                        </div>
                    </v-navigation-drawer>
                    <div v-if="current==1">
                        <v-main>
                            <br><br>
                            <router-link to="/IdeationMap">
                                <div style="float:right;margin-right:80px;width:320px" class="views">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <b-icon icon="bar-chart-line " font-scale="3"></b-icon>
                                            </div>
                                            <div class="col-sm-10"> <b>Views</b> <br>
                                                Custom Ideation Map
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </router-link>
                            <br><br><br><br>
                            <div style="float:left">

                                <div v-if="selected=='Antiweight'">
                                    <b><span style="color:red;font-size:20px;float:left"> {{selected}}</span> </b>
                                    <br><br>
                                    <ul>
                                        <li v-for="(item) in statement2" :key="item.id" style="text-indent: -210px;">
                                            {{item.name}}
                                        </li>
                                    </ul>

                                </div>
                                <div v-else>
                                    <b><span style="color:red;font-size:20px;float:left"> Dynamics</span> </b>
                                    <br><br>
                                    <ul>
                                        <li v-for="(item) in statement3" :key="item.id" style="text-indent: -210px;">
                                            {{item.name}}
                                        </li>
                                    </ul>

                                </div>

                                <br>
                                <b><span style="font-size:20px;float:left"> Technology Area-Based Solutions </span> </b>
                                <br><br>

                                <v-card class="mx-auto" max-width="100%" min-width="100%" min-height="420px">
                                    <v-card-text>
                                        <div class="container" style="margin-left:1.5%">
                                            <div class="row">

                                                <div class="col-sm-2" v-for="item in Solution" :key="item.id" v-bind:class="{'selectedSolution': current2 === item.id}" v-on:click="setCurrent2(item.id)">
                                                    <div style="float:left;"> {{item.name}} </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div style="float:right;color:red" @click="loadLess=!loadLess">Load less</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="float:left" v-if="current2==1">
                                            <div class="container" style="margin-left:3%">
                                                <div class="row" v-if="loadLess==false">

                                                    <div class="abc" v-for="(item) in statement2" :key="item.id" style="color:red">
                                                        <center>{{item.name}}</center>

                                                    </div>
                                                </div>
                                                <div class="row" v-else>

                                                    <div>
                                                        <div class="abc" v-for="(item) in statement3" :key="item.id" style="color:red">
                                                            <center>{{item.name}}</center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div style="float:left" v-if="current2==2">
                                            <div class="container" style="margin-left:3%">
                                                <div class="row" v-if="loadLess==false">

                                                    <div class="abc" v-for="(item) in automotive" :key="item.id" style="color:red">
                                                        <center>{{item.name}}</center>
                                                    </div>

                                                </div>
                                                <div class="row" v-else>

                                                    <div class="abc" v-for="(item) in statement3" :key="item.id" style="color:red">
                                                        <center>{{item.name}}</center>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div style="float:left" v-if="current2==3">
                                            <div class="container" style="margin-left:3%">
                                                <div class="row" v-if="loadLess==false">

                                                    <div class="abc" v-for="(item) in automotive" :key="item.id" style="color:red">
                                                        <center>{{item.name}}</center>
                                                    </div>

                                                </div>
                                                <div class="row" v-else>

                                                    <div class="abc" v-for="(item) in statement3" :key="item.id" style="color:red">
                                                        <center>{{item.name}}</center>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <br><br><br><br><br><br>
                                        <div style="float:left">
                                            <div class="container" style="margin-left:3%">
                                                <div class="row">
                                                    <span style="color:red"><br>VIEW RESULT FOR</span>
                                                    <div style="width:50%;margin-left:2%px;">
                                                        <v-select :items="items" v-model="selected"></v-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><br><br>
                                    </v-card-text>

                                </v-card>
                            </div>
                        </v-main>
                    </div>

                    <div v-if="current==2">

                        <v-card style="float:right" class="mx-auto" max-width="90%" min-width="90%" min-height="100%">
                            <v-card-text>
                                <div>
                                    <br>

                                
                           

                                </div>
                                <br><br>
                                <div class="container" style="float:left;">
                                    <div class="row">
                                        <div class="col-sm-6">

                                            <v-card class="mx-auto" max-width="100%" min-width="100%" max-height="100%">
                                                <v-card-text class="text-left">

                                                    <div class="container-name">
                                                        <!-- <v-row inline> -->
                                                        <div v-for="(item) in statement4" :key="item.id">
                                                            <v-row inline v-if="page==1">
                                                                <!-- {{item.id}} -->
                                                                <!-- <v-divider vertical></v-divider>  -->
                                                                <b-form-checkbox style="float:left;padding-left:4%" inline>
                                                                    <div >
                                                                        <span style="color:red;float:left !important">
                                                                            <b>{{item.title}}</b>
                                                                        </span> <br>
                                                                        <b>Description:</b> {{item.description}}<br>
                                                                        <b>Date:</b> {{item.date}}<br>
                                                                        <b>Concepts:</b>
                                                                    </div>
                                                                </b-form-checkbox>
                                                                <br><br>
                                                                <v-divider></v-divider>
                                                            </v-row>

                                                        </div>
                                                        <!-- </v-row> -->
                                                    </div>

                                                    <div class="text-center">
                                                        <v-container>
                                                            <v-row justify="center">
                                                                <v-col cols="8">
                                                                    <v-container class="max-width">
                                                                        <v-pagination v-model="page" class="my-4" :length="5"></v-pagination>
                                                                    </v-container>
                                                                </v-col>
                                                            </v-row>
                                                        </v-container>
                                                    </div>

                                                </v-card-text>

                                            </v-card>

                                        </div>
                                        <div style="font-size:20px" class="col-sm-6">
                                            <br><br><br>
                                            <v-card class="mx-auto" max-width="100%" min-width="100%" min-height="78%" max-height="78%">
                                                <center>
                                                    <v-card-text>
                                                        <br>
                                                        <piechart />
                                                    </v-card-text>
                                                </center>
                                            </v-card>
                                        </div>
                                    </div>
                                </div>
                            </v-card-text>

                        </v-card>

                    </div>
                </v-app>
            </v-card-text>

        </v-card>
    </div>
</v-responsive>
</template>

<script>
import piechart from './piechart';
export default {
    data() {
        return {
            isActive: false,
            current: 2,
            current2: 1,
            page: 1,
            loadLess: false,
            automotive: [],
            Solution: [{
                    id: 1,
                    name: 'TECHNOLOGY'
                },
                {
                    id: 2,
                    name: 'AUTOMOTIVE'
                },
                {
                    id: 3,
                    name: 'BUSINESS'
                },
            ],
            items: ['Dynamics', 'Antiweight'],
            selected: "",
            statement2: [],
            statement3: [],
            statement4: [],
            collection: [{
                    id: 1,
                    name: 'IDEATION'
                },
                {
                    id: 2,
                    name: 'PUBLICATION LANDSCAPER'
                },
                {
                    id: 3,
                    name: 'PATENT LANDSCAPER'
                },
            ],
        }

    },
    components: {
        piechart
    },

    methods: {
        setCurrent(id) {
            this.current = id;
        },
        setCurrent2(id) {
            this.current2 = id;
        }
    },
    mounted() {
        // console.log(this.collection)
        this.statement2 = this.$store.getters.viewResults1;
        //  console.log(this.loadLess)
        for (let i = 0; i < 4; i++) {
            this.statement3.push({
                id: i + 1,
                name: this.statement2[i].name,
            });
        }
        this.automotive = this.$store.getters.automotivedata
        this.statement4 = this.$store.getters.viewResults3;
        console.log(this.statement3)
    }

}
</script>

<style scoped>

</style>
