.v-progress-circular {
  margin: 1rem;
}
.resultselectedClass2 {
  background-color: #c1131c !important;
  color: white;
  min-height: 120px !important;
  width: 400px !important;
  font-size: 1.1rem !important;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
}

.selectedSolution {

  color: #c1131c;

}
#content {
  text-align: center;
  width: 50%;
}

#content h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 40px 0;
  font-size: 25px;
  line-height: 30px;
}

.circle {
  width: 50px;
  height: 50px;
  /* line-height: 200px; */
  border-radius: 50%;
  /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  /* text-align: center; */
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  /* font-weight: 700; */

}

.blue[data-v-da1af3ba] {
  background-color: #c1131c !important;
  width: 80%;
  height: 150px;
  margin-left: 67%;
}

.green[data-v-da1af3ba] {
  background-color: #00000029 !important;
  /* width: 50px; */
  /* height: 50px; */
  margin-top: -60%;
  margin-left: 25%;
}

.red[data-v-da1af3ba] {
  background-color: #c1131c !important;
  width: 45%;
  height: 85px;
  margin-left: 3%;
  margin-top: 7%;
}

.red4[data-v-da1af3ba] {
  background-color: #c1131c;
  width: 62%;
  height: 115px;
  margin-left: 44%;
  margin-top: -20%;
}
.feedback {
  font-size: 14px;
  color: #b1b1b1;
} 
.resultxyz {

  /* width: 270x; */
  min-height: 20%px;
  /* border: 1px solid #70707050; */
  /* border-radius: 0 20 20 0px; */
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;

}

.abc {
  display: inline-block;
  width: 20%;
  /* text-align: left; */
  min-height: 100%;
  background-color: #eee;
  /* height: 64px; */
  /* max-height: 80px; */
  border: 2px solid red;
  border-radius: 20px;
  margin: 1%;

}

.views {

  min-height: 76px;
  border: 2px solid #383838 !important;
  border-radius: 20px
}

.v-navigation-drawer {
  width: 400px !important;
  box-shadow: 5px 0px 8px #00000029;
}
.selectedClass2 {
  background-color: #c1131c !important;
  color: white;
  min-height:44% !important;
  width: 106% !important;
  font-size: 1.1rem !important
}

.dashboardxyz {

  min-height: 33%;
  border: 1px solid #70707050;
  border-radius: 20px;

}
.xyz {
  display: inline-block;
  width: 25%;
  text-align: left;
  /* min-height: 50px;  */
  background-color: #eee;
  height: 70px;
  border: 2px solid red;
  border-radius: 20px;
  margin: 0.25%;
}
.xyzfour {
  display: inline-block;
width: 182px;
text-align: left;
min-height: 66px;
background-color: #eee;
/* height: 64px; */
max-height: 80px;
border: 2px solid red;
border-radius: 20px;
margin: 8px;
}
.selectedClassfour {
  background-color: #c1131c !important;
  color:white;
}
.v-application .mb-2 {
  margin-bottom: -10px !important;
  margin-top: 12px !important;
  margin-left: 10px;
}
.xyzfive {
  display: inline-block;
  width: 250px;
  text-align: left;
  background-color: white;
  color: gray;
  height: 43px;
  /* max-height: 50px; */
  border: 3px solid #eee;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 0px;
}
.xyz2five {
  display: inline-block;
  width: 185px;
  text-align: left;
  /* min-height: 29px!important; */
  background-color: white;
  color: gray;
  /* height: 64px; */
  max-height: 43px;
  border: 3px solid #eee;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 0px;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100px;
  margin-top: -50px;
}
.selectedClassfive {
  background-color:#E1352F0D !important;
  border-color: #C43C39 !important;
  color:#C43C39 !important;
}
/* 
.selectedClass {
  fill: #e31e29;

} */
.selectedClass {
  background-color: #c1131c;
  color: white;
}

.selectedClass2 {
  fill: black;

}

.fa fa-check {
  font-size: 12px;
  height: 2px;
}

.step-progress__wrapper-before {
  height: 2px !important;
  top: 35% !important;
}

.step-progress__wrapper-after {
  height: 2px !important;
  top: 35% !important;
}

.step-progress__step:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) perspective(1000px);
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  border: var(--passiveBorder) solid var(--passiveColor);
  transition: .3s ease;
  }
  .step-progress__step span {
  color: var(--passiveColor);
  transition: .3s ease;
  display: block;
  font-size: 15px;
  transform: translateZ(0) scale(1) perspective(1000px);
  font-weight: 900;
  text-align: center;
  opacity: 1;
}
.step-progress__step step-progress__step--valid{
--activeColor:red;
--passiveColor: #352f2f;
--activeBorder: 3px !important;
--passiveBorder: 3px !important; 
}