<template>
  <v-app>
    <!-- <particles-bg type="color" :bg="true"/> -->
<v-responsive>
 
    <v-main>
      <!-- <p>{{ $t("main") }}</p> -->
      <Header/>
      <center>
         <keep-alive >
        <router-view @clicked='s' :Name='Name'></router-view>
         </keep-alive>
         <!-- <cards /> -->
      </center>
    </v-main>
    </v-responsive>
  </v-app>


</template>

<script lang="ts">
import Vue from 'vue';
import Header from './components/Header.vue';
// import cards from './components/cards.vue';
{/* 
// @ts-ignore */}
// import { ParticlesBg } from "particles-bg-vue";
import {Component} from 'vue-property-decorator';
@Component({
    components: {
        Header,
        // cards
        // ParticlesBg
    },
})
export default class App extends Vue{
     Name=''
    kfs=""
s(q: string) {
 this.kfs = q;
 this.Name=this.kfs
  }
}
</script>
<style>
.canvas{
  z-index: 0!important;
}
</style>